body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.step-container {
  position: relative;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.step-name {
  font-size: 14px;
}

.active .step-number {
  background-color: #007bff;
  color: #fff;
}

.complete .step-number {
  background-color: #28a745;
  color: #fff;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-item-vertical {
  margin-bottom: 20px;
}

.step-line {
  width: 4px;
  height: 100%;
  background-color: #ccc;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
}

.progress {
  background-color: #28a745;
  transition: width 0.2s ease, height 0.2s ease;
}

.horizontal-stepper .progress-bar {
  height: 4px;
  width: 0;
}

.vertical-stepper .progress-bar {
  width: 4px;
  height: 0;
}
